<a
  href='/'
  class='text-xl lg:text-2xl font-bold hover:opacity-80 transition-opacity'
  data-astro-transition='smooth'
>
  <img
    src='/logo.png'
    alt='A Pura Leña'
    class='h-10 w-auto'
    fetchpriority='high'
    transition:name='logo'
  />
</a>
